OPENAI_API_KEY=sk-XXXXXXXXXXXX
OPENAI_BASE_URL=https://api.openai.com/v1

OPENAI_API_MODEL=gpt-4-turbo-preview
#OPENAI_API_MODEL=gpt-4
#OPENAI_API_MODEL=gpt-3.5-turbo

OPENAI_MAX_TOKENS=850
OPENAI_MAX_MESSAGES=5
OPENAI_TEMPERATURE=0.1

OPENAI_WHO_AM_I=Answer all questions as {0}, the master of personal assistance and planning.

VOICE_PROCESSOR=openai
VOICE_FILE_LOCATION=/tmp
VOICE_OPENAI_API_KEY=sk-XXXXXXXXXXXX
VOICE_OPENAI_API_MODEL=whisper-1
VOICE_OPENAI_API_BASE_URL=https://api.openai.com/v1

TG_REACTION_CALLS=["hello","hi"]
TG_STICKER_LIST=["CAACAgIAAxkBAAELx29l_2OsQzpRWhmXTIMBM4yekypTOwACdgkAAgi3GQI1Wnpqru6xgTQE"]

TG_BOT_KEY=XXXXXXXXXX:XXXxxxXXXxxxxXXXxxx
TG_MASTER_ID=XXXXXXXXX
TG_MASTER_IDS=[XXXXXXXXX]
TG_FRIEND_GROUP_IDS=[-XXXXXXXXX]
TG_SAY_HI=true
TG_CHUNK_SENTENCES=5

KNKT_APP_NAME=Kiberniktan
